<go-layout>
  <go-header logo="https://mobi.thefutureis.mobi/images/assets/theme_logo/000/000/000/178/header.png?1556627290"
             go-header>
    <ng-container go-header-middle>
      <div class="go-column go-column--100">
        <h4>Search</h4>
        <div>
          <go-search>
            <app-search-test></app-search-test>
          </go-search>
        </div>
      </div>
    </ng-container>
    <ng-container go-header-right>
      <go-button buttonIcon="home" (handleClick)="openThing()">
        Off Canvas
      </go-button>
      <go-icon-button buttonIcon="home" (handleClick)="openThing()"></go-icon-button>
    </ng-container>
  </go-header>
  <ng-container go-nav>
    <go-side-nav [menuItems]="menuItems">
    </go-side-nav>
  </ng-container>
</go-layout>
