<go-layout>
  <go-header go-layout-header [logo]="logo" [altText]="'Tangoe Logo'">
    <go-search go-header-middle>
      <app-search-test></app-search-test>
    </go-search>
    <ng-container go-header-right>
      <go-icon-button buttonIcon="add_circle" (handleClick)="openOffCanvas()"></go-icon-button>
      <go-icon-button buttonIcon="assistant" (handleClick)="openOffCanvas()"></go-icon-button>
      <go-icon-button buttonIcon="build" (handleClick)="openOffCanvas()"></go-icon-button>
      <go-icon-button buttonIcon="picture_in_picture" (handleClick)="openModal()"></go-icon-button>
      <go-icon-button buttonIcon="input" (handleClick)="openOffCanvas()"></go-icon-button>
    </ng-container>
  </go-header>
  <go-side-nav go-layout-nav [menuItems]="menuItems">
  </go-side-nav>
</go-layout>
