@import '../../../go-lib/styles/variables';
@import '../../../go-lib/styles/mixins';

// GLOBAL
a {
  text-decoration: none;
}

// MAIN
body {
  background: $theme-light-app-bg;
  color: $theme-light-color;
  font-family: $primary-font-stack;
  font-weight: 300;
}

code {
  margin: .5rem 0 1.5rem;

  &.code-block--no-bottom-margin {
    margin-bottom: 0;
  }
}

.main {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}

.main__content {
  display: flex;
  flex-grow: 1;
}

.main__route-container {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.main__route-container-outlet ~ * {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 3rem;
  position: absolute;
  width: 100%;
}

// NAV
.main__nav {
  background: $theme-dark-bg;
  border-right: 1px solid $theme-dark-border;
  color: $theme-dark-color;
}

// HEADER
.main__header {
  align-items: center;
  background: $theme-light-bg;
  border-bottom: 1px solid $theme-light-border;
  display: flex;
  height: 60px;
  justify-content: space-around;
  width: 100%;
}

.header__logo {
  height: 100%;
  padding: 1rem;

  img {
    height: 100%;
  }
}

.header__search {
  background: $theme-light-app-bg;
  border-radius: $global-radius;
  color: $theme-light-color;
  padding: 0.75rem;
  width: 450px;
}

.header__theme-switcher {
  align-items: center;
  color: $theme-light-color;
  cursor: pointer;
  display: flex;
  height: 100%;
  padding: 1rem;
  @include transition(all);

  &:hover {
    background: $theme-light-bg-hover;
  }
}

.dark-example-area {
  background: $theme-dark-bg;
  border-radius: $global-radius;
  padding: $column-gutter;
}

.go-action-sheet-items {
  span.go-panel__title-text {
   font-family: $secondary-font-stack !important;
 }
}