@import 'reset';
@import '../../../go-lib/src/styles/styles.scss';

@import 'settings';
@import 'typography';
@import '~highlight.js/styles/github.css';

// Base Styling
::-webkit-scrollbar {
  width: 12px;
  height: 12px;

  @media (max-width: 768px) {
    width: 0 !important;
    height: 0 !important;
  }
}

::-webkit-scrollbar-track {
  background-color: $theme-light-app-bg;
}

::-webkit-scrollbar-thumb {
  background-color: $base-light-secondary;
  border: 2px solid $theme-light-app-bg;
  border-radius: 6px;
}

code {
  border-radius: $global-radius;
  font-family: $roboto-code;
  font-size: 0.75rem;
  line-height: 1.6;
  overflow-x: auto;
  white-space: pre;

  &.hljs {
    border: 1px solid $theme-light-app-bg;
  }

  .hljs-section, .hljs-name, .hljs-strong {
    font-weight: normal;
  }
}

.code-block--inline {
  background-color: $theme-light-app-bg;
  border: 1px solid $theme-light-border;
  display: inline-block;
  margin: 0;
  padding: 0 .25rem;
  vertical-align: text-bottom;
}

.go-column--dark {
  background-color: $theme-dark-bg;
  padding-top: $column-gutter;
}

.go-list {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  list-style-type: disc;
  padding: 1rem 1.5rem;
}

.go-list--ordered {
  list-style-type: decimal;
}

.go-container--centered {
  padding: 0 25%;

  @media (max-width: $breakpoint_tablet) {
    padding: 0;
  }
}
