<header class="go-page-title">
  <h1 class="go-heading-1">{{ pageTitle }}</h1>
</header>
<div class="go-container">
  <section id="sass-color-variables" class="go-column go-column--100">
    <go-card>
      <ng-container go-card-header>
        <h2 class="go-heading-2 go-heading--no-wrap">SASS Color Variables</h2>
        <go-copy cardId="sass-color-variables" goCopyCardLink></go-copy>
      </ng-container>
      <ng-container go-card-content>
        <p class="go-body-copy">
          All of the available sass variables for theming, branding, & other
          UI states are available via the goponents package. 
          These can be imported in a scss file with: 
          <code class="code-block--inline">@import '~@tangoe/goponents/styles/variables';</code>
        </p>
      </ng-container>
    </go-card>
  </section>

  <section id="go-color-base" class="go-column go-column--100">
    <go-card>
      <ng-container go-card-header>
        <h2 class="go-heading-2 go-heading--no-wrap">Base Colors</h2>
        <go-copy cardId="go-color-base" goCopyCardLink></go-copy>
      </ng-container>
      <ng-container go-card-content>
        <section class="go-container">
          <div class="go-column go-column--50">
            <div class="go-color-items">
              <div id="go-color-primary" class="go-color-items__item">
                <span class="overline">#65B360</span>
              </div>
              <div id="go-color-light" class="go-color-items__item go-color-items__item--dark">
                <span class="overline">#FFFFFF</span>
              </div>
              <div id="go-color-light-secondary" class="go-color-items__item go-color-items__item--dark">
                <span class="overline">#ADB5BD</span>
              </div>
              <div id="go-color-dark" class="go-color-items__item">
                <span class="overline">#313536</span>
              </div>
              <div id="go-color-dark-secondary" class="go-color-items__item">
                <span class="overline">#202626</span>
              </div>
            </div>
          </div>
          <div class="go-column go-column--50">
            <code [highlight]="baseColors"></code>
          </div>
        </section>
      </ng-container>
    </go-card>
  </section>

  <section id="go-color-primary" class="go-column go-column--100">
    <go-card>
      <ng-container go-card-header>
        <h2 class="go-heading-2 go-heading--no-wrap">Galaxy Blue</h2>
        <go-copy cardId="go-color-primary" goCopyCardLink></go-copy>
      </ng-container>
      <ng-container go-card-content>
        <section class="go-container">
          <div class="go-column go-column--50">
            <p class="go-body-copy">
              Galaxy Blue should be used when there is a primary action on a page or other
              minor accents in the UI.<br/>
              <caption>Base SASS variable: $ui-color-primary</caption>
            </p>
            <div class="go-color-items">
              <div class="go-color-items__item">
                <span class="overline">#00838f</span>
              </div>
              <div class="go-color-items__item">
                <span class="overline">#00737D</span>
              </div>
              <div class="go-color-items__item">
                <span class="overline">#00626B</span>
              </div>
              <div class="go-color-items__item">
                <span class="overline">$ui-color-positive-gradient</span>
              </div>
            </div>
          </div>
          <div class="go-column go-column--50">
            <code [highlight]="galaxyBlue"></code>
          </div>
        </section>
      </ng-container>
    </go-card>
  </section>

  <section id="go-color-positive" class="go-column go-column--100">
    <go-card>
      <ng-container go-card-header>
        <h2 class="go-heading-2 go-heading--no-wrap">Earth Green</h2>
        <go-copy cardId="go-color-positive" goCopyCardLink></go-copy>
      </ng-container>
      <ng-container go-card-content>
        <section class="go-container">
          <div class="go-column go-column--50">
            <p class="go-body-copy">
              Earth Green should be used to indicate a positive event (ex: form completion), a positive status (ex: indicator),
               or to show a numerical positive (ex: currency). <br/>
              <caption>Base SASS variable: $ui-color-positive</caption>
            </p>
            <div class="go-color-items">
              <div class="go-color-items__item">
                <span class="overline">#1D8915</span>
              </div>
              <div class="go-color-items__item">
                <span class="overline">#1a7a13</span>
              </div>
              <div class="go-color-items__item">
                <span class="overline">#166a10</span>
              </div>
              <div class="go-color-items__item">
                <span class="overline">$ui-color-positive-gradient</span>
              </div>
            </div>
          </div>
          <div class="go-column go-column--50">
            <code [highlight]="earthGreen"></code>
          </div>
        </section>
      </ng-container>
    </go-card>
  </section>
  
  <section id="go-color-negative" class="go-column go-column--100">
    <go-card>
      <ng-container go-card-header>
        <h2 class="go-heading-2 go-heading--no-wrap">Horizon Red</h2>
        <go-copy cardId="go-color-negative" goCopyCardLink></go-copy>
      </ng-container>
      <ng-container go-card-content>
        <section class="go-container">
          <div class="go-column go-column--50">
            <p class="go-body-copy">
              Horizon Red should be used when an action will result in a negative result (ex: deletion), when
              an event has resulted in an error (ex: failed form submission), a sense of urgency is needed (ex: alerts or warnings), or
              numerical negative (ex: currency).<br/>
              <caption>Base SASS variable: $ui-color-negative</caption>
            </p>
            <div class="go-color-items">
              <div class="go-color-items__item">
                <span class="overline">#DC3545</span>
              </div>
              <div class="go-color-items__item">
                <span class="overline">#D82A2A</span>
              </div>
              <div class="go-color-items__item">
                <span class="overline">#CB2525</span>
              </div>
              <div class="go-color-items__item">
                <span class="overline">$ui-color-negative-gradient</span>
              </div>
            </div>
          </div>
          <div class="go-column go-column--50">
            <code [highlight]="horizonRed"></code>
          </div>
        </section>
      </ng-container>
    </go-card>
  </section>

  <section id="go-color-neutral" class="go-column go-column--100">
    <go-card>
      <ng-container go-card-header>
        <h2 class="go-heading-2 go-heading--no-wrap">Nebula Purple</h2>
        <go-copy cardId="go-color-neutral" goCopyCardLink></go-copy>
      </ng-container>
      <ng-container go-card-content>
        <section class="go-container">
          <div class="go-column go-column--50">
            <p class="go-body-copy">
              Nebula Purple should be used to present additional information (ex: notice), or when taking a neutral action (ex: data refresh). <br/>
              <caption>Base SASS variable: $ui-color-neutral</caption>
            </p>
            <div class="go-color-items">
              <div class="go-color-items__item">
                <span class="overline">#7F47CC</span>
              </div>
              <div class="go-color-items__item">
                <span class="overline">#7539C8</span>
              </div>
              <div class="go-color-items__item">
                <span class="overline">#6D34BB</span>
              </div>
              <div class="go-color-items__item">
                <span class="overline">$ui-color-neutral-gradient</span>
              </div>
            </div>
          </div>
          <div class="go-column go-column--50">
            <code [highlight]="nebulaPurple"></code>
          </div>
        </section>
      </ng-container>
    </go-card>
  </section>
</div>
