<section>
  <header>
    <h2 class="go-heading-2">
      Form
    </h2>
    <hr>
  </header>
  <div>
    <go-card>
      <ng-container go-card-content>
        <div class="go-container">
          <div class="go-column go-column--50">
            <go-input
              label="Other Name"
              [hints]="['we need your full name here']"
              [control]="otherThing"
            ></go-input>
          </div>
          <div class="go-column go-column--50">
            <go-input
              label="Test Other Name"
              [hints]="['we need your full name here']"
              [control]="testOtherThing"
            ></go-input>
          </div>

          <form [formGroup]="form" (ngSubmit)="onSubmit()" class="go-form go-column go-column--100" *ngIf="form">
            <div class="go-container">
              <div class="go-column go-column--100">
                <go-input
                  label="Name"
                  key="some-test"
                  [hints]="['we need your full name here']"
                  placeholder="Something"
                  [control]="form.controls.name"
                ></go-input>
              </div>

              <div class="go-column go-column--100">
                <go-button buttonType='submit'
                           buttonVariant='positive'
                           [isProcessing]="loading">
                  Save
                </go-button>
              </div>
            </div>
          </form>
        </div>
      </ng-container>
    </go-card>
  </div>
</section>
