@import '../../../../../../../../../go-lib/src/styles/variables';

.card-form-dark {
  background: $theme-dark-bg;
  border-radius: $global-radius;
  margin-bottom: -$column-gutter;
  padding-bottom: $column-gutter;
  padding-top: $column-gutter;
}
