<div class="go-container">
  <div class="go-column go-column--100">
    <h1 class="go-heading-2">
      Welcome to {{ title }}!
    </h1>
  </div>

  <div class="go-column go-column--100 go-column--collapse">
    <h4 class="go-heading-4">Action Sheet</h4>
    <go-action-sheet>
      <ng-container go-action-sheet__button>
        <go-button buttonIcon="home">
          Click me to open Action Sheet
        </go-button>
      </ng-container>
      <ng-container go-action-sheet-content>
        <go-panel showHeader="true" panelContent="Christoph<br><p>christoph.drechsler@tangoe.com</p>">
        </go-panel>
        <go-panel panelContent="Router Link" icon="folder" routerLink="/test-page-1">
        </go-panel>
        <go-panel icon="open_in_new" panelContent="External Link" externalLink="https://www.google.com">
        </go-panel>
        <go-panel panelContent="Open Toast" icon="folder" (action)="openToast()">
        </go-panel>
        <go-accordion showIcons="true" [slim]="true" class="go-action-sheet__go-accordion">
          <go-accordion-panel title="Accordion" icon="home" [borderless]="true">
            Another test
          </go-accordion-panel>
        </go-accordion>
        <go-panel danger="true" panelContent="Logout" icon="lock">
        </go-panel>
      </ng-container>
    </go-action-sheet>
  </div>

  <div class="go-column go-column--100">
    <h4 class="go-heading-4">Loader</h4>
    <go-button (handleClick)="stopLoaderAnimation()">
      Toggle Animation
    </go-button>
    <br>
    <br>
    <div class="go-container">
      <div class="go-column go-column--100">
        <go-loader loaderSize="large" [loaderType]="loaderType"></go-loader>
        <go-loader [loaderType]="loaderType"></go-loader>
        <go-loader *ngIf="loading" loaderSize="small" [loaderType]="loaderType"></go-loader>
      </div>
    </div>
  </div>

  <div class="go-column go-column--100">
    <go-copy text="Copy this Text Here"></go-copy>
    <go-badge badgeData="1231" badgeColor="negative">
      <go-icon icon="notifications"></go-icon>
    </go-badge>
    <go-badge badgeData="something" badgeColor="positive">
      <go-loader loaderSize="large" [loaderType]="loaderType"></go-loader>
    </go-badge>
    <go-badge badgeData="1231">
      <go-button buttonIcon="home">
        Click me to open Action Sheet
      </go-button>
    </go-badge>
    <h4 class="go-heading-4">Buttons</h4>
    <go-button buttonIcon="home">
      Hey
    </go-button>
    <go-button [isProcessing]="shopping" buttonIcon="add_shopping_cart" buttonVariant="positive" (handleClick)="clickHey()" #heyButton>
      Hey
    </go-button>
    <go-button buttonIcon="fingerprint" buttonVariant="negative">
      Hey
    </go-button>
    <go-button buttonIcon="fingerprint" buttonVariant="negative" buttonDisabled="true">
      Nope
    </go-button>
    <go-button buttonIcon="plus_one" buttonVariant="neutral">
      Hey
    </go-button>
    <go-button [buttonIcon]="'home'" buttonVariant="positive" [useDarkTheme]="true">
      Dark
    </go-button>
  </div>

  <div class="go-column go-column--100">
    <h4 class="go-heading-4">Button Group</h4>
    <ul class="go-button-group">
      <li class="go-button-group__item">
        <go-button>Button 1</go-button>
      </li>
      <li class="go-button-group__item">
        <go-button>Button 2</go-button>
      </li>
    </ul>
  </div>

  <div class="go-column go-column--100">
    <h4 class="go-heading-4">Toasts</h4>
    <go-toast type="neutral"
              header="Announcement!"
              [dismissable]="true">
    </go-toast>
    <go-toast type="positive"
              header="HTML Example"
              message='&#x2192; <a href="https://github.com/mobi/goponents" target="_blank">#1 Design System</a> &#x2190;'
              [dismissable]="true">
    </go-toast>
    <go-toast type="neutral" header="Hey!" message="Did you know that this is pretty cool?" [showToastActions]="true">
      <ng-container go-toast-action>
        <div class="go-button-group">
          <div class="go-button-group__item">
            <go-button (handleClick)="actionClick('btn-1')" buttonVariant="neutral">Button1</go-button>
          </div>
          <div class="go-button-group__item">
            <go-button (handleClick)="actionClick('btn-2')" buttonVariant="neutral">Button2</go-button>
          </div>
          <div class="go-button-group__item">
            <go-button (handleClick)="actionClick('btn-3')" buttonVariant="neutral">Button3</go-button>
          </div>
        </div>
      </ng-container>
    </go-toast>
  </div>

  <div class="go-column go-column--100">
    <h4 class="go-heading-4">Pills</h4>
    <go-pill [removable]="false">non removable</go-pill>
    <go-pill *ngIf="showPill" (removed)="pillRemoved()">I can be removed</go-pill>
  </div>

  <div class="go-column go-column--100">
    <h4 class="go-heading-4">Branding</h4>
    <div class="go-column go-column--25">
      <go-input
        [control]="brandingControl"
        label="Brand Color">
      </go-input>
    </div>

    <div class="go-column">
      <go-button
        (handleClick)="updateColor()"
      >
        Update Branding Color
      </go-button>
    </div>
  </div>
</div>
