@import './variables';
@import './mixins';

$input--disabled-background: rgba($base-dark-secondary, .4);

// Fieldsets
// ----------------------------------------------------------------------------
.go-form__fieldset {
  border: 1px solid $theme-light-border;
  border-radius: $global-radius;
  margin-bottom: $column-gutter--double;
  padding: $column-gutter;

  &:disabled {
    background: $theme-light-app-bg;
    cursor: not-allowed;

    label,
    .go-form__label {
      cursor: not-allowed;
    }
  }
}

.go-form--dark .go-form__fieldset,
.go-form__fieldset--dark {
  &:disabled {
    background: $theme-dark-border;
  }
}

.go-form__fieldset--error {
  border-color: $ui-color-negative;
}

.go-form__legend {
  margin-left: -($column-gutter--half);
  padding: 0 $column-gutter--half;
  text-transform: uppercase;
}

.go-form--dark .go-form__legend,
.go-form__legend--dark {
  color: $theme-dark-color;
}

// Labels
// ----------------------------------------------------------------------------
.go-form__label {
  color: $theme-light-color;
  display: block;
  font-family: $primary-font-stack;
  font-size: .75rem;
  font-weight: $weight-medium;
  letter-spacing: .08pt;
  line-height: 1.3;
  padding-bottom: .375rem;
}

.go-form__label--checkbox-container {
  cursor: pointer;
  padding-left: 1.25rem;
  position: relative;
  user-select: none;
}

.go-form--dark .go-form__label,
.go-form__label--dark {
  color: $theme-dark-color;
}

.go-form__label--inline {
  display: inline-block;
}

// Input
// ----------------------------------------------------------------------------
.go-form__input {
  @include transition(all);
  @include regular-input;
  @include input-states;

  background: transparent;
  padding: .5625rem $column-gutter--half;

  &:-ms-input-placeholder {
    color: $theme-light-border;
    font-weight: $weight-light;
  }

  &::placeholder {
    color: $theme-light-border;
    font-weight: $weight-light;
  }
}

// Select
// ----------------------------------------------------------------------------
.go-form__select {
  @include transition(all);
  @include regular-input;
  @include input-states;

  height: 2.25rem;
}

// Checkbox
// ----------------------------------------------------------------------------
.go-form__checkbox {
  margin-bottom: $column-gutter--three-quarters;
  margin-right: $column-gutter--three-quarters;
  width: auto;

  &:disabled {
    cursor: not-allowed;
  }
}

// Hide the default checkbox
.go-form__checkbox--hidden {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

// Create a custom checkbox
.go-form__custom-checkbox {
  background-color: $base-light;
  border: 1px solid lighten($base-light-secondary, 13.5%);
  border-radius: $global-radius;
  display: inline-block;
  height: .875rem;
  left: 0;
  position: absolute;
  top: .1rem;
  width: .875rem;
}

// When the checkbox is checked, change the background and border color of the custom checkbox
.go-form__checkbox:checked ~ .go-form__custom-checkbox {
  background-color: $ui-color-positive;
  border-color: $ui-color-positive;
}

// When the checkbox is disabled, change the background color of the custom checkbox
.go-form__checkbox:disabled ~ .go-form__custom-checkbox {
  background-color: $theme-light-app-bg;
}

// When the checkbox is disabled and checked, change the background and border color of the custom checkbox
.go-form__checkbox:disabled:checked ~ .go-form__custom-checkbox {
  background-color: lighten($base-light-secondary, 13.5%);
  border: 1px solid lighten($base-light-secondary, 13.5%);
}

// Create and style a custom checkmark (hidden when not checked)
.go-form__custom-checkbox::after {
  border: solid $base-light;
  border-width: 0 1px 1px 0;
  content: '';
  display: none;
  height: 7px;
  left: 3.8px;
  position: absolute;
  top: 1px;
  transform: rotate(45deg);
  width: 3px;
}

// Show the custom checkmark when checked
.go-form__checkbox:checked ~ .go-form__custom-checkbox::after {
  display: block;
}

// Dark Overrides
// ----------------------------------------------------------------------------
.go-form--dark .go-form__input,
.go-form--dark .go-form__select,
.go-form__input--dark,
.go-form__select--dark {
  background-color: transparent;
  color: $theme-dark-color;

  option {
    color: black;
  }

  &:disabled {
    background-color: $input--disabled-background;
    border-color: $theme-dark-border;
    color: $theme-light-border;
  }
}

// Margin Overrides
// ----------------------------------------------------------------------------
.go-form__select--no-margin,
.go-form__input--no-margin,
.go-form__fieldset--no-margin {
  @extend %element--no-margin;
}

// Error Overrides
// ----------------------------------------------------------------------------
.go-form__select--error,
.go-form__input--error {
  border-color: $ui-color-negative;

  &:focus {
    @include error-input;
  }
}
