@import './variables';
@import './mixins';

$input--disabled-background: rgba($base-dark-secondary, .4);

.go-form {

  // Fieldsets
  // ---------------------------------------------
  &__fieldset {
    border: 1px solid $theme-light-border;
    border-radius: $global-radius;
    margin-bottom: $column-gutter;
    padding: $column-gutter;

    &:disabled {
      background: $theme-light-app-bg;
      cursor: not-allowed;

      label,
      &__label {
        cursor: not-allowed;
      }
    }

    &--error {
      border-color: $ui-color-negative;
    }
  }

  &--dark &__fieldset,
  &__fieldset--dark {
    &:disabled {
      background: $theme-dark-border;
    }
  }

  &__legend {
    margin-left: -($column-gutter--half);
    padding: 0 $column-gutter--half;
    text-transform: uppercase;
  }

  &--dark &__legend,
  &__legend--dark {
    color: $theme-dark-color;
  }

  // Labels
  // ---------------------------------------------
  &__label {
    color: $theme-light-color;
    display: block;
    font-family: $primary-font-stack;
    font-size: .75rem;
    font-weight: $weight-medium;
    letter-spacing: .08pt;
    line-height: 1.3;
    padding-bottom: .375rem;

    &--checkbox-container {
      cursor: pointer;
      line-height: 1.5;
      padding-left: 1.25rem;
      position: relative;
      user-select: none;
    }

    &--inline {
      display: inline-block;
    }
  }

  &--dark &__label,
  &__label--dark {
    color: $theme-dark-color;
  }

  // Inputs
  // ---------------------------------------------
  &__input {
    @include transition(all);
    @include regular-input;
    @include input-states;

    background: transparent;
    padding: $column-gutter--half;

    &:-ms-input-placeholder {
      color: $theme-light-border;
      font-weight: $weight-light;
    }

    &::placeholder {
      color: $theme-light-border;
      font-weight: $weight-light;
    }
  }

  // Selects
  // ---------------------------------------------
  &__select {
    @include transition(all);
    @include regular-input;
    @include input-states;

    height: 2.25rem;
  }

  // Checkboxes
  // ---------------------------------------------
  &__checkbox {
    margin-bottom: $column-gutter--three-quarters;
    margin-right: $column-gutter--three-quarters;
    width: auto;

    &:disabled {
      cursor: not-allowed;
    }

    &--hidden {
      cursor: pointer;
      height: 0;
      opacity: 0;
      position: absolute;
      width: 0;
    }
  }

  &__custom-checkbox {
    background-color: $base-light;
    border: 1px solid lighten($base-light-secondary, 13.5%);
    border-radius: $global-radius;
    display: inline-block;
    height: .875rem;
    left: 0;
    position: absolute;
    top: .1rem;
    width: .875rem;

    &::after {
      border: solid $base-light;
      border-width: 0 1px 1px 0;
      content: '';
      display: none;
      height: 7px;
      left: 3.8px;
      position: absolute;
      top: 1px;
      transform: rotate(45deg);
      width: 3px;
    }
  }

  &__checkbox:checked ~ &__custom-checkbox {
    background-color: $ui-color-primary;
    border-color: $ui-color-primary;
  }

  &__checkbox:disabled ~ &__custom-checkbox {
    background-color: $theme-light-app-bg;
    cursor: not-allowed;
  }

  &__checkbox:indeterminate ~ &__custom-checkbox {
    background-color: $theme-light-app-bg;
  }

  &__checkbox:disabled:checked ~ &__custom-checkbox {
    background-color: lighten($base-light-secondary, 13.5%);
    border: 1px solid lighten($base-light-secondary, 13.5%);
    cursor: not-allowed;
  }

  &__checkbox:indeterminate ~ &__custom-checkbox::after {
    border: 1px solid $theme-light-border;
    content: '';
    display: block;
    height: 0;
    left: 3px;
    top: 5px;
    transform: none;
    width: 4px;
  }

  &__checkbox:checked ~ &__custom-checkbox::after {
    display: block;
  }

  // Dark Overrides
  // ---------------------------------------------
  &--dark &__input,
  &--dark &__select,
  &__input--dark,
  &__select--dark {
    background-color: $base-dark;
    border-color: $base-dark-secondary;
    color: $theme-dark-color;

    option {
      color: $base-dark-secondary;
    }

    &:disabled {
      background-color: $input--disabled-background;
      border-color: $theme-dark-border;
      color: $theme-light-border;
    }
  }

  // Margin Overrides
  // ---------------------------------------------
  &__select--no-margin,
  &__input--no-margin,
  &__fieldset--no-margin {
    @extend %element--no-margin;
  }

  // Error Overrides
  // ---------------------------------------------
  &__select--error,
  &__input--error {
    border-color: $ui-color-negative;

    &:focus {
      @include error-input;
    }
  }
}
