@import "./variables";

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $base-light-secondary;
  border-radius: 4px;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;

  @media (max-width: 768px) {
    height: 0;
    width: 0;
  }
}
