@each $name, $size in $column-sizes {
  .go-column--#{$name} {
    flex-basis: percentage($size);
    max-width: percentage($size);
    width: percentage($size);

    @if ($name <= 25) {
      @extend %flex-basis-tablet-50;
      @extend %flex-basis-mobile-100;
    } @else {
      @extend %flex-basis-tablet-100;
    }

  }
}

%flex-basis-mobile-100 {
  @media (max-width: $breakpoint_mobile) {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
  }
}

%flex-basis-tablet-50 {
  @media (max-width: $breakpoint_tablet) {
    flex-basis: 50%;
    max-width: 50%;
    width: 50%;
  }
}

%flex-basis-tablet-100 {
  @media (max-width: $breakpoint_tablet) {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
  }
}

.go-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-$column-gutter);

  &--reset {
    padding: 0 $column-gutter;
  }

  &--no-wrap {
    flex-wrap: nowrap;
  }

  &--align-center {
    align-items: center;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &--justify-end {
    justify-content: flex-end;
  }
}

.go-column {
  flex: 1 1 auto;
  padding: 0 $column-gutter $column-gutter--double;

  &--no-padding {
    padding-bottom: 0;
  }

  &--no-grow {
    flex-grow: 0;
  }

  &--expandable {
    max-width: 100%;
  }

  &--collapse {
    flex-basis: auto;
    flex-grow: 0;
    width: auto;
  }
}
