.go-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-$column-gutter);
}

.go-container--reset {
  padding: 0 $column-gutter;
}

.go-column {
  flex: 1 1 auto;
  padding: 0 $column-gutter $column-gutter--double;
}

@each $name, $size in $column-sizes {
  .go-column--#{$name} {
    max-width: percentage($size);
    flex-basis: percentage($size);
    width: percentage($size);

    @if ($name <= 25) {
      @extend %tablet__flex-basis--50;
      @extend %mobile__flex-basis--100;
    } @else {
      @extend %tablet__flex-basis--100;
    }

  }
}

%mobile__flex-basis--100 {
  @media (max-width: $breakpoint_mobile) {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
  }
}

%tablet__flex-basis--50 {
  @media (max-width: $breakpoint_tablet) {
    flex-basis: 50%;
    max-width: 50%;
    width: 50%;
  }
}

%tablet__flex-basis--100 {
  @media (max-width: $breakpoint_tablet) {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
  }
}

// Modifiers

.go-container--no-wrap {
  flex-wrap: nowrap;
}

.go-container--align-center {
  align-items: center;
}

.go-container--justify-center {
  justify-content: center;
}

.go-container--justify-between {
  justify-content: space-between;
}

.go-container--justify-end {
  justify-content: flex-end;
}

.go-container--justify-start {
  justify-content: flex-start;
}

.go-column--no-padding {
  padding-bottom: 0;
}

.go-column--no-grow {
  flex-grow: 0;
}

.go-column--collapse {
  flex-basis: auto;
  flex-grow: 0;
  width: auto;
}
