@mixin transition($prop){
	-webkit-transition: $prop .25s cubic-bezier(.25,.8,.25,1);
	-moz-transition: $prop .25s cubic-bezier(.25,.8,.25,1);
	-ms-transition: $prop .25s cubic-bezier(.25,.8,.25,1);
	-o-transition: $prop .25s cubic-bezier(.25,.8,.25,1);
	transition: $prop .25s cubic-bezier(.25,.8,.25,1);
}

$z-index: (
  header-bar: 50,
  navigation: 100,
  search: 200,
  off-canvas: 300,
  modal: 400,
  toaster: 500,
  loading-screen: 600,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin fill-text-background($fill: null, $color: $base-dark) {
  // sass-lint:disable-block no-vendor-prefixes property-sort-order
  color: $color;

  @supports (background-clip: text) or (-webkit-background-clip: text) {
    @if ($fill) {
      background: $fill;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    } @else {
      background: transparent;
      background-clip: border-box;
      -webkit-background-clip: border-box;
      -webkit-text-fill-color: currentcolor;
    }
  }
}

@mixin transition(
  $property: all,
  $duration: $global-transition-duration,
  $timing: $global-transition-timing
) {
  transition: {
    duration: $global-transition-duration;
    property: $property;
    timing-function: $timing;
  };
}
