@import './variables';

@mixin transition($prop){
	-webkit-transition: $prop .25s cubic-bezier(.25,.8,.25,1);
	-moz-transition: $prop .25s cubic-bezier(.25,.8,.25,1);
	-ms-transition: $prop .25s cubic-bezier(.25,.8,.25,1);
	-o-transition: $prop .25s cubic-bezier(.25,.8,.25,1);
	transition: $prop .25s cubic-bezier(.25,.8,.25,1);
}

$z-index: (
  header-bar: 50,
  navigation: 100,
  search: 200,
  off-canvas: 300,
  modal: 400,
  toaster: 500,
  loading-screen: 600,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin fill-text-background($fill: null, $color: $base-dark) {
  // sass-lint:disable-block no-vendor-prefixes property-sort-order
  color: $color;

  @supports (background-clip: text) or (-webkit-background-clip: text) {
    @if ($fill) {
      background: $fill;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    } @else {
      background: transparent;
      background-clip: border-box;
      -webkit-background-clip: border-box;
      -webkit-text-fill-color: currentcolor;
    }
  }
}

@mixin transition(
  $property: all,
  $duration: $global-transition-duration,
  $timing: $global-transition-timing
) {
  transition: {
    duration: $global-transition-duration;
    property: $property;
    timing-function: $timing;
  };
}


// Form Mixins
// ----------------------------------------------------------------------------
@mixin regular-input {
  border: 1px solid lighten($theme-light-border, 13.5%);
  border-radius: $global-radius;
  box-shadow: none;
  font-family: inherit;
  font-size: .875rem;
  letter-spacing: .5pt;
  outline: none;
  width: 100%;

  &::-ms-clear {
    display: none;
  }
}

@mixin disabled-input {
  background: {
    color: $theme-light-app-bg;
    position: right $column-gutter top .8rem;
    repeat: no-repeat;
    size: auto $column-gutter--three-quarters;
  }
  cursor: not-allowed;

  &:hover {
    box-shadow: none;
  }
}

@mixin hover-input {
  box-shadow: $form-shadow-hover;
  outline: none;
}

@mixin active-input {
  border-color: $form-border-active;
  box-shadow: $form-shadow-active;
  outline: none;
}

@mixin error-input {
  border-color: $form-border-error;
  box-shadow: $form-shadow-error;
  outline: none;
}

@mixin input-states {
  &:hover {
    @include hover-input;
  }

  &:focus {
    @include active-input;
  }

  &:disabled {
    @include disabled-input;
  }
}