body {
  font-family: $primary-font-stack;
  font-weight: $weight-light;
}

.go-heading {
  font-family: $primary-font-stack;
  font-weight: $weight-regular;
  margin-bottom: $heading-margin-bottom;
}

@each $id, $size in $heading-sizes {
  .go-heading-#{$id} {
    @extend .go-heading;
    font-size: $size;
  }
}

.go-body-copy {
  font-size: 1rem;
  letter-spacing: .5pt;
  line-height: 1.5;
  margin-bottom:  $column-gutter--three-quarters;
}

.go-heading--no-margin,
.go-body-copy--no-margin {
  @extend %element--no-margin;
}

.go-link {
  @include transition(all);

  color: $theme-light-color;
  display: inline-block;
  text-decoration: underline;

  &:active,
  &:visited {
    color: $theme-light-color;
  }
  
  &:focus,
  &:hover {
    color: $ui-color-neutral;
    outline: none;
  }
}

.go-ordered-list {
  list-style: decimal;
  margin: 0 $column-gutter $column-gutter--three-quarters;
  padding-left: 1rem;
}

.go-ordered-list__item {
  line-height: 1.5;
  margin: $column-gutter--half 0;
}
