body {
  font-family: $primary-font-stack;
  font-weight: $weight-light;
}

.go-heading {
  font-family: $primary-font-stack;
  font-weight: $weight-regular;
  margin-bottom: $heading-margin-bottom;
}

.go-heading-1 {
  @extend .go-heading;
  font-size: 1.875rem;
}

.go-heading-2 {
  @extend .go-heading;
  font-size: 1.625rem;
}

.go-heading-3 {
  @extend .go-heading;
  font-size: 1.375rem;
}

.go-heading-4 {
  @extend .go-heading;
  font-size: 1.125rem;
}

.go-heading-5 {
  @extend .go-heading;
  font-size: .875rem;
}

.go-heading-6 {
  @extend .go-heading;
  font-size: .75rem;
}

.go-body-copy {
  font-size: 1rem;
  letter-spacing: .5pt;
  line-height: 1.5;
  margin-bottom:  $column-gutter--three-quarters;
}

.go-heading--no-margin,
.go-body-copy--no-margin {
  @extend %element--no-margin;
}

.go-link {
  border-bottom: 1px solid;
  color: $theme-light-color;
  display: inline-block;
  transition: $global-transition-duration $global-transition-timing;

  &:active,
  &:focus,
  &:visited {
    color: $theme-light-color;
  }

  &:hover {
    color: $ui-color-neutral;
  }
}

.go-ordered-list {
  list-style: decimal;
  margin: 0 $column-gutter $column-gutter--three-quarters;
  padding-left: 1rem;
}

.go-ordered-list__item {
  line-height: 1.5;
  margin: $column-gutter--half 0;
}
