body {
  font-family: $base-font-stack;
}

.go-heading-1 {
  font-family: $heading-font-stack;
  font-size: 6rem;
  font-weight: $weight-light;
  letter-spacing: -1.5pt;
  margin-bottom: $column-gutter--quarter;
}

.go-heading-2 {
  font-family: $heading-font-stack;
  font-size: 3.75rem;
  font-weight: $weight-light;
  letter-spacing: -.5pt;
  margin-bottom: $column-gutter--quarter;
}

.go-heading-3 {
  font-family: $heading-font-stack;
  font-size: 3rem;
  font-weight: $weight-regular;
  letter-spacing: 0;
  line-height: 1.2;
  margin-bottom: $column-gutter--quarter;
}

.go-heading-4 {
  font-family: $heading-font-stack;
  font-size: 2.125rem;
  font-weight: $weight-regular;
  letter-spacing: .25pt;
  line-height: 1.2;
  margin-bottom: $column-gutter--quarter;
}

.go-heading-5 {
  font-family: $heading-font-stack;
  font-size: 1.5rem;
  font-weight: $weight-bold;
  letter-spacing: 0;
  line-height: 1.2;
  margin-bottom: $column-gutter--half;
}

.go-heading-6 {
  font-family: $heading-font-stack;
  font-size: .875rem;
  font-weight: $weight-bold;
  letter-spacing: 1pt;
  line-height: 1.3;
  margin-bottom: $column-gutter--half;
}

.go-body-copy {
  font-size: 1rem;
  letter-spacing: .5pt;
  line-height: 1.5;
  margin-bottom:  $column-gutter--three-quarters;
}

.go-heading--no-margin,
.go-body-copy--no-margin {
  @extend %element--no-margin;
}

.go-link {
  border-bottom: 1px solid;
  color: $theme-light-color;
  display: inline-block;
  transition: $global-transition-duration $global-transition-timing;

  &:active,
  &:focus,
  &:visited {
    color: $theme-light-color;
  }

  &:hover {
    color: $ui-color-neutral;
  }
}

.go-ordered-list {
  list-style: decimal;
  margin: 0 $column-gutter $column-gutter--three-quarters;
  padding-left: 1rem;
}

.go-ordered-list__item {
  line-height: 1.5;
  margin: $column-gutter--half 0;
}
