// Colors
$base-primary: #65B360;

// Branding
$brand-color: $base-primary;
$brand-color-active: darken($base-primary, 7%);
$brand-color-hover: darken($base-primary, 10%);
$brand-color-dark: darken($base-primary, 15%);
$brand-color-darker: darken($base-primary, 20%);
$brand-color-gradient: linear-gradient(to right, $base-primary, $brand-color-hover);
