// UI Details
// ----------------------------------------------------------------------------

// Presentational
$global-radius: 4px;
$global-radius--round: 100%;
$global-transition-timing: cubic-bezier(.25, .8, .25, 1);
$global-transition-duration: .25s;

// Box Shadows
$global-box-shadow--regular: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 3px 6px 0 rgba(0, 0, 0, 0.20);
$global-box-shadow--search: 0 3px 6px rgba(0, 0, 0, .2); // TODO: verify with UX proper box-shadow for go-search
$global-box-shadow--large: 0 7px 14px 0 rgba(65, 54, 94, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
$global-box-shadow--small: 0 1px 2px 0 rgba(0, 0, 0, 0.20);

// Structural
$column-gutter: 1rem;
$column-gutter--double: $column-gutter * 2;
$column-gutter--half: $column-gutter / 2;
$column-gutter--quarter: $column-gutter / 4;
$column-gutter--three-quarters: $column-gutter * .75;
$column-sizes: (
  20: 1 / 5,
  25: 1 / 4,
  33: 1 / 3,
  50: 2 / 4,
  66: 2 / 3,
  75: 3 / 4,
  100: 1
  );

$side-nav-width: 15.5rem;
$side-nav-width--collapsed: 3.2rem;

$modal-container-sizes: (
  lg: 31.25rem,
  xl: 50rem
);

$header-height: 4rem;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;

// Typography
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;

$heading-margin-bottom: 1.5rem;
$heading-sizes: (
  1: 1.875rem,
  2: 1.625rem,
  3: 1.375rem,
  4: 1.125rem,
  5: .875rem,
  6: .75rem
);

$primary-font-stack: 'Roboto', 'Lato', 'Helvetica', 'Arial', sans-serif;
$secondary-font-stack: 'Nunito', 'Helvetica', 'Arial', sans-serif;
// Colors
// ----------------------------------------------------------------------------

// Base Colors
$base-dark: #313536;
$base-dark-secondary: #202626;
$base-light: #FFF;
$base-light-secondary: #B1B1B1;
$base-primary: #65B360;

$base-primary-hover: darken($base-primary, 10%);
$base-primary-gradient: linear-gradient(to right, $base-primary, $base-primary-hover);

// Light Theme
$theme-light-app-bg: #F0F0F0;
$theme-light-bg: $base-light;
$theme-light-bg-active: darken($base-light, 4);
$theme-light-bg-hover: darken($base-light, 7);
$theme-light-color: $base-dark;
$theme-light-color-hover: lighten($base-dark, 20);
$theme-light-border: $base-light-secondary;

// Dark Theme
$theme-dark-bg: $base-dark;
$theme-dark-bg-active: darken($base-dark, 4);
$theme-dark-bg-hover: darken($base-dark, 7);
$theme-dark-color: $base-light;
$theme-dark-text-color: mix($base-light, $base-light-secondary);
$theme-dark-color-hover: darken($base-light, 20);
$theme-dark-border: $base-dark-secondary;

// UI Colors
// Negative Colors -
// These are used to portray dangerous actions, error states, or other negative states in the interface
$ui-color-negative: #DD4C4C;
$ui-color-negative-hover: darken($ui-color-negative, 3.5%);
$ui-color-negative-active: darken($ui-color-negative, 7%);
$ui-color-negative-dark: darken($ui-color-negative-hover, 10%);
$ui-color-negative-darker: darken($ui-color-negative-dark, 5%);
$ui-color-negative-gradient: linear-gradient(to bottom, $ui-color-negative, $ui-color-negative-hover);
$ui-background-negative: rgba($ui-color-negative, .1);

// Neutral Colors -
// These are used to portray informational actions, states, or other generally neutral states in the interface
$ui-color-neutral: #8A4EDE;
$ui-color-neutral-hover: darken($ui-color-neutral, 3.5%);
$ui-color-neutral-active: darken($ui-color-neutral, 7%);
$ui-color-neutral-gradient: linear-gradient(to bottom, $ui-color-neutral, $ui-color-neutral-hover);
$ui-background-neutral: rgba($ui-color-neutral, .1);

// Positive Colors -
// These are used to portray good actions, states, or other generally positive states in the interface
$ui-color-positive: #1D8915;
$ui-color-positive-hover: darken($ui-color-positive, 3.5%);
$ui-color-positive-active: darken($ui-color-positive, 7%);
$ui-color-positive-gradient: linear-gradient(to bottom, $ui-color-positive, $ui-color-positive-hover);

// Primary Colors -
// These are used to portray primary actions, states, or other generally primary items in the interface
$ui-color-primary: #00838f;
$ui-color-primary-hover: darken($ui-color-primary, 3.5%);
$ui-color-primary-active: darken($ui-color-primary, 7%);
$ui-color-primary-gradient: linear-gradient(to bottom, $ui-color-primary, $ui-color-primary-hover);
$ui-background-primary: rgba($ui-color-primary, .2);
