<go-table [loadingData]="tableLoading"
          [tableConfig]="tableConfig"
          (rowSelectionEvent)="handleSelection($event)"
          [showTableActions]="true"
          (tableChange)="handleTableChange($event)"
          tableTitle="People Data"
          #peopleTable
          *ngIf="tableConfig">
  <ng-container go-table-actions>
    <go-button (handleClick)="outputSelectionCount()">Selection Count</go-button>
  </ng-container>
  <go-table-column field="id" title="ID"></go-table-column>
  <go-table-column field="name.first" title="First Name"></go-table-column>
  <go-table-column field="name.last" title="Last Name"></go-table-column>
  <go-table-column field="email" title="Email"></go-table-column>
  <go-table-column field="gender" title="Gender"></go-table-column>
  <go-table-column field="ip_address" title="IP Address"></go-table-column>
</go-table>
