<ng-template goHeaderBar heading="Test 1" [showBackArrow]="true" (handleBackButton)="goBack()">
  <div class="go-button-group">
    <div class="go-button-group__item">
      <go-button (handleClick)="saveClick()">save</go-button>
    </div>
    <div class="go-button-group__item">
      <go-button (handleClick)="cancelClick()">Cancel</go-button>
    </div>
  </div>
</ng-template>

<div class="go-container">
  <go-accordion [multiExpand]="true" [showIcons]="true" theme="dark" [slim]="true" class="go-column go-column--100">
    <go-accordion-panel title="Test 1" icon="home" [expanded]="true">
      <p class="go-body-copy">This is some content for Test 1.</p>
    </go-accordion-panel>
    <go-accordion-panel title="Test 2" icon="settings">
      <p class="go-body-copy">This is a second thing.</p>
    </go-accordion-panel>
    <go-accordion-panel title="Test 3" icon="landscape">
      <p class="go-body-copy">This is a third thing.</p>
    </go-accordion-panel>
  </go-accordion>

  <go-accordion [showIcons]="true" class="go-column go-column--100">
    <go-accordion-panel title="Test 1" icon="home" [expanded]="true">
      <p class="go-body-copy">This is some content for Test 1.</p>
    </go-accordion-panel>
    <go-accordion-panel title="Test 2" theme="dark" icon="settings">
      <p class="go-body-copy">This is a second thing.</p>
    </go-accordion-panel>
    <go-accordion-panel title="Test 3" icon="landscape">
      <p class="go-body-copy">This is a third thing.</p>
    </go-accordion-panel>
  </go-accordion>

  <go-accordion class="go-column go-column--100">
    <go-accordion-panel heading="Test 1" [expanded]="true">
      <p class="go-body-copy">This is some content for Test 1.</p>
    </go-accordion-panel>
    <go-accordion-panel heading="Test 2">
      <p class="go-body-copy">This is a second thing.</p>
    </go-accordion-panel>
    <go-accordion-panel heading="Test 3">
      <p class="go-body-copy">This is a third thing.</p>
    </go-accordion-panel>
  </go-accordion>

  <go-table [loadingData]="tableLoading"
            [tableConfig]="tableConfig"
            (rowSelectionEvent)="handleSelection($event)"
            [showTableActions]="true"
            (tableChange)="handleTableChange($event)"
            class="go-column go-column--100"
            tableTitle="People Data"
            #peopleTable
            *ngIf="tableConfig">
    <ng-container go-table-actions>
      <go-icon-button  buttonIcon="save_alt" (handleClick)="outputSelectionCount()">Selection Count</go-icon-button>
      <go-button (handleClick)="showCurrentSelection()">Selection State</go-button>
    </ng-container>
    <go-table-column field="id" title="ID"></go-table-column>
    <go-table-column field="name.first" [sortable]="true" title="First Name"></go-table-column>
    <go-table-column field="name.last" [sortable]="true" title="Last Name"></go-table-column>
    <go-table-column field="email" [sortable]="true" title="Email"></go-table-column>
    <go-table-column field="gender" title="Gender"></go-table-column>
    <go-table-column field="ip_address" title="IP Address"></go-table-column>
  </go-table>

  <!-- Hierarchical Table -->
  <go-table [loadingData]="tableDetailsLoading"
            [tableConfig]="tableDetailsConfig"
            childRowsKey="children"
            (rowSelectionEvent)="handleSelection($event)"
            [showTableActions]="true"
            (tableChange)="handleTableChange($event)"
            class="go-column go-column--100"
            tableTitle="Hierarchical Table Example"
            #peopleTable
            *ngIf="tableDetailsConfig" >
    <go-table-column field="id" title="ID"></go-table-column>
    <go-table-column field="name.first" [sortable]="true" title="First Name"></go-table-column>
    <go-table-column field="name.last" [sortable]="true" title="Last Name"></go-table-column>
    <go-table-column field="email" [sortable]="true" title="Email"></go-table-column>
    <go-table-column field="gender" title="Gender"></go-table-column>
    <go-table-column field="ip_address" title="IP Address" width="400"></go-table-column>

    <ng-container #goTableChildRows>
      <go-table-child-column field="id"></go-table-child-column>
      <go-table-child-column field="name.first"></go-table-child-column>
      <go-table-child-column field="name.last"></go-table-child-column>
      <go-table-child-column field="email"></go-table-child-column>
      <go-table-child-column field="gender"></go-table-child-column>
      <go-table-child-column>
        <ng-template #goTableCell let-childItem let-parentItem="parentItem">
          {{ childItem.ip_address }}
          <go-icon-button
            buttonIcon="explore"
            (handleClick)="logRow(parentItem, childItem)">
          </go-icon-button>
        </ng-template>
      </go-table-child-column>
    </ng-container>

  </go-table>
  <!-- End Hierarchical Table -->
</div>
