.child-row td {
  border-bottom: 1px solid #f0f0f0;
  border-top: 0.5px solid #f0f0f0;
  font-size: 0.875rem;
  padding: 0px 1.25rem 0.8rem 1.25rem;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  padding-top: 0.875rem;
}
.child-row td:last-child {
  padding-top: 0px;
}
.active-child-row {
  border-left: 4px solid #65b360;
  padding: 60px 0px 0px 0px;
  position: absolute;
  left: 0;
  height: 100%;
}
.last-active-child {
  bottom: 0rem;
}
