<header class="go-page-title">
  <h1 class="go-heading-1">{{ (subNavService.pageTitle$ | async) || '' }}</h1>
  <a
    [attr.href]="(subNavService.linkToSource$ | async) || null"
    target="_blank">
    <go-button buttonVariant="neutral">View on GitHub</go-button>
  </a>
</header>
<div class="sub-nav-container">
  <div class="sub-nav-outlet" [@routerAnimation]="routeAnimationKey">
    <router-outlet class="sub-nav-container-outlet"></router-outlet>
  </div>
  <div class="sub-nav-submenu" [ngClass]="{ 'sub-nav-submenu--mobile-show': mobileSubmenuShown }" (click)="closeMobileMenu()">

    @for (item of menuItems; track item) {
      <h3 class="go-heading-3 sub-nav-submenu__title">{{ item.routeTitle }}</h3>
      @if (item.subRoutes) {
        <ul class="sub-nav-submenu__ul">
          @for (subRoute of item.subRoutes; track subRoute) {
            <li>
              <a class="go-link sub-nav-submenu__a"
                [routerLinkActive]="['sub-nav-submenu__a--active']"
                [routerLinkActiveOptions]="{exact:true}"
              [routerLink]="subRoute.route">{{ subRoute.routeTitle }}</a>
            </li>
          }
        </ul>
      }
    }

  </div>
  <div class="sub-nav-submenu-mobile-toggle" (click)="toggleSubmenu()" [ngClass]="{ 'sub-nav-submenu-mobile-toggle--expand': mobileSubmenuShown }">
    <go-icon class="sub-nav-submenu-mobile-toggle__icon" [icon]="submenuIcon()"></go-icon>
  </div>
</div>
