@import './variables';

* {
  box-sizing: border-box;
  // scss-lint:disable PropertySpelling
  scrollbar-color: $base-light-secondary transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $base-light-secondary;
  border-radius: 4px;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;

  @media (max-width: 768px) {
    height: 0;
    width: 0;
  }
}

.go-hr {
  background: $theme-light-app-bg;
  border: 0;
  height: 1px;
  margin: 1rem -1rem;

  &--allow-padding {
    margin-left: 0;
    margin-right: 0;
  }
}
