@import './variables';

@mixin transition($prop) {
  // scss-lint:disable VendorPrefix
  -webkit-transition: $prop $global-transition-duration $global-transition-timing;
  -moz-transition: $prop $global-transition-duration $global-transition-timing;
  -ms-transition: $prop $global-transition-duration $global-transition-timing;
  -o-transition: $prop $global-transition-duration $global-transition-timing;
  transition: $prop $global-transition-duration $global-transition-timing;
}

$z-index: (
  1: 1,
  2: 2,
  header-bar: 50,
  navigation: 100,
  search: 200,
  off-canvas: 300,
  modal: 400,
  toaster: 500,
  loading-screen: 600,
);

@mixin z-index($key) {
  // scss-lint:disable VariableForProperty
  z-index: z-index($key);
}

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin fill-text-background($fill: null, $color: $base-dark) {
  color: $color;

  @supports (background-clip: text) or (-webkit-background-clip: text) {
    @if ($fill) {
      // scss-lint:disable VendorPrefix
      background: $fill;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    } @else {
      // scss-lint:disable VendorPrefix
      background: transparent;
      -webkit-background-clip: border-box;
      background-clip: border-box;
      -webkit-text-fill-color: currentcolor;
    }
  }
}

@mixin transition(
  $property: all,
  $duration: $global-transition-duration,
  $timing: $global-transition-timing
) {
  transition: {
    duration: $global-transition-duration;
    property: $property;
    timing-function: $timing;
  };
}


// Form Mixins
// ----------------------------------------------------------------------------
@mixin regular-input {
  border: 1px solid lighten($theme-light-border, 13.5%);
  border-radius: $global-radius;
  box-shadow: none;
  color: $theme-light-color;
  font-family: $primary-font-stack;
  font-size: .875rem;
  font-weight: $weight-light;
  letter-spacing: $base-letter-spacing;
  line-height: 1.3;
  max-width: 100%;
  outline: none;
  width: 100%;

  &::-ms-clear {
    display: none;
  }
}

@mixin disabled-input {
  background: {
    color: $theme-light-app-bg;
    position: right $column-gutter top .8rem;
    repeat: no-repeat;
    size: auto $column-gutter--three-quarters;
  }

  color: $base-light-secondary;
  cursor: not-allowed;

  &:hover {
    box-shadow: none;
  }
}

@mixin hover-input {
  box-shadow: $form-shadow-hover;
  outline: none;
}

@mixin active-input {
  border-color: $form-border-active;
  box-shadow: $form-shadow-active;
  outline: none;
}

@mixin error-input {
  border-color: $form-border-error;
  box-shadow: $form-shadow-error;
  outline: none;
}

@mixin input-states {
  &:hover {
    @include hover-input;
  }

  &:focus {
    @include active-input;
  }

  &:disabled {
    @include disabled-input;
  }
}
