@use 'sass:color';
@use 'sass:math';

// UI Details
// ----------------------------------------------------------------------------

// Presentational
$global-radius-zero: 0px;
$global-radius: 6px;
$checkbox-radius: 4px;
$global-radius--round: 100%;
$global-transition-timing: cubic-bezier(.25, .8, .25, 1);
$global-transition-duration: .25s;

// Box Shadows
// scss-lint:disable ColorVariable
$global-box-shadow--regular: 0 2px 4px 0 rgba(0, 0, 0, 0.075);
$global-box-shadow--search: 0 1px 6px 0 rgba(32, 33, 36, .28);
$global-box-shadow--large: 0 7px 14px 0 rgba(65, 54, 94, .10), 0 3px 6px 0 rgba(0, 0, 0, .07);
$global-box-shadow--small: 0 1px 2px 0 rgba(0, 0, 0, .20);
$global-box-shadow--dark-popup: 0 2px 7px 2px rgba(0, 0, 0, .22), 0 2px 4px 0 rgba(0, 0, 0, .2);
// scss-lint:enable ColorVariable

// Structural
$column-gutter: 1rem;
$column-gutter--double: $column-gutter * 2;
$column-gutter--half: math.div($column-gutter, 2);
$column-gutter--quarter: math.div($column-gutter, 4);
$column-gutter--three-quarters: $column-gutter * .75;
$column-sizes: (
  20: math.div(1, 5),
  25: math.div(1, 4),
  33: math.div(1, 3),
  50: math.div(2, 4),
  66: math.div(2, 3),
  75: math.div(3, 4),
  100: 1
  );

$side-nav-width: 15.625rem;
$side-nav-width--collapsed: 3.2rem;

$modal-container-sizes: (
  lg: 31.25rem,
  xl: 50rem
);

$header-height: 4rem;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;

// Typography
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;

$base-letter-spacing: .08pt;

$secondary-weight-light: 300;
$secondary-weight-medium: 600;
$weight-bold: 700;

$heading-margin-bottom: 1rem;
$heading-sizes: (
  1: 1.875rem,
  2: 1.625rem,
  3: 1.375rem,
  4: 1.125rem,
  5: .875rem,
  6: .75rem
);

$primary-font-stack: 'Roboto', 'Lato', 'Helvetica', 'Arial', sans-serif;
$secondary-font-stack: 'Nunito', 'Helvetica', 'Arial', sans-serif;

// Colors
// ----------------------------------------------------------------------------

// Base Colors
$base-dark: #313536;
$base-dark-secondary: #212529;
$base-dark-tertiary: #495057;
$base-light: #fff;
$base-light-secondary: #DEE2E6;
$base-light-tertiary: #6C757D;
$base-primary: #20A65F;
$base-color: #00000080;

$base-primary-hover: color.adjust($base-primary, $lightness: -10%);
$base-primary-gradient: linear-gradient(to right, $base-primary, $base-primary-hover);

// Light Theme
$theme-light-app-bg: #E9ECEF;
$theme-light-bg: $base-light;
$theme-light-bg-hover: color.adjust($base-light, $lightness: -3.5%);
$theme-light-bg-active: color.adjust($base-light, $lightness: -7%);
$theme-light-color: $base-dark;
$theme-light-color-hover: color.adjust($base-dark, $lightness: 20%);
$theme-light-border: $base-light-secondary;

// Dark Theme
$theme-dark-bg: $base-dark-secondary;
$theme-dark-bg-hover: color.adjust($base-dark-secondary, $lightness: -3.5%);
$theme-dark-bg-active: color.adjust($base-dark-secondary, $lightness: -7%);
$theme-dark-color: $base-light;
$theme-dark-text-color: color.mix($base-light, $base-light-secondary);
$theme-dark-color-hover: color.adjust($base-light, $lightness: -20%);
$theme-dark-border: color.adjust($base-dark-secondary, $lightness: -7%);

// UI Colors
// Negative Colors -
// These are used to portray dangerous actions, error states, or other negative states in the interface
$ui-color-negative: #dc3545;
$ui-color-negative-hover: color.adjust($ui-color-negative, $lightness: -3.5%);
$ui-color-negative-active: color.adjust($ui-color-negative, $lightness: -7%);
$ui-color-negative-dark: color.adjust($ui-color-negative-hover, $lightness: -10%);
$ui-color-negative-darker: color.adjust($ui-color-negative-dark, $lightness: -5%);
$ui-color-negative-gradient: linear-gradient(to bottom, $ui-color-negative, $ui-color-negative-hover);
$ui-background-negative: rgba($ui-color-negative, .1);
// UI Colors
// secondary button 
$ui-button-secondary-active: color.adjust($base-light-tertiary, $lightness: -3.5%);
$ui-button-secondary-shadow: 0 0 0 0.25rem rgba(130,138,145, .5);
// Neutral Colors -
// These are used to portray informational actions, states, or other generally neutral states in the interface
$ui-color-neutral: #6633CA;
$ui-color-neutral-hover: color.adjust($ui-color-neutral, $lightness: -3.5%);
$ui-color-neutral-active: color.adjust($ui-color-neutral, $lightness: -7%);
$ui-color-neutral-gradient: linear-gradient(to bottom, $ui-color-neutral, $ui-color-neutral-hover);
$ui-background-neutral: rgba($ui-color-neutral, .1);

// Positive Colors -
// These are used to portray good actions, states, or other generally positive states in the interface
$ui-color-positive: #198754;
$ui-color-positive-hover: color.adjust($ui-color-positive, $lightness: -3.5%);
$ui-color-positive-active: color.adjust($ui-color-positive, $lightness: -7%);
$ui-color-positive-gradient: linear-gradient(to bottom, $ui-color-positive, $ui-color-positive-hover);

// Primary Colors -
// These are used to portray primary actions, states, or other generally primary items in the interface
$ui-color-primary: #157DB9;
$ui-color-primary-hover: color.adjust($ui-color-primary, $lightness: -3.5%);
$ui-color-primary-active: color.adjust($ui-color-primary, $lightness: -7%);
$ui-color-primary-gradient: linear-gradient(to bottom, $ui-color-primary, $ui-color-primary-hover);
$ui-background-primary: rgba($ui-color-primary, .2);

// Forms
// ----------------------------------------------------------------------------
$form-shadow-active:  0 0 0 4px color.adjust($ui-color-primary, $alpha: -0.75);
$form-border-active: color.adjust($ui-color-primary, $alpha: -0.5);

$form-shadow-error: 0 0 0 4px color.adjust($ui-color-negative, $alpha: -0.75);
$form-border-error: $ui-color-negative;

$form-border-neutral: color.adjust($ui-color-neutral, $alpha: -0.25);
$form-shadow-neutral: 0 0 0 4px color.adjust($ui-color-neutral, $alpha: -0.75);

$form-shadow-hover: 0 0 0 4px color.adjust($theme-light-app-bg, $alpha: -0.2);

// TDS Blue Palette
$blue-100: #D0E5F1;
$blue-200: #A1CBE3;
$blue-300: #73B1D5;
$blue-400: #4497C7;
$blue-500: #157DB9;
$blue-600: #116494;
$blue-700: #0D4B6F;
$blue-800: #08324A;
$blue-900: #041925;

// Gray colors 
$gray-100: #F8F9FA;
$gray-200: #E9ECEF;
$gray-300: #DEE2E6;
$gray-400: #CED4DA;
$gray-500: #ADB5BD;
$gray-600: #6C757D;
$gray-700: #495057;
$gray-800: #343A40;
$gray-900: #212529;

//App launch
$app-launch-color-secondary: #6c757d;

$syntax-comment: #998;
$syntax-string: #dd1144;
$syntax-variable: teal;
$syntax-title: #900;
$syntax-type: #458;
$syntax-tag: navy;
$syntax-regexp: #009926;
$syntax-symbol: #990073;
$syntax-built-in: #0086b3;
$syntax-meta: #999;
