// UI Details
// ----------------------------------------------------------------------------

// Presentational
$global-radius: 4px;
$global-radius--round: 100%;
$global-transition-timing: cubic-bezier(.25, .8, .25, 1);
$global-transition-duration: .25s;

// Box Shadows
// scss-lint:disable ColorVariable
$global-box-shadow--regular: 0 0 2px 0 rgba(0, 0, 0, .12), 0 3px 6px 0 rgba(0, 0, 0, .20);
$global-box-shadow--search: 0 1px 6px 0 rgba(32, 33, 36, .28);
$global-box-shadow--large: 0 7px 14px 0 rgba(65, 54, 94, .10), 0 3px 6px 0 rgba(0, 0, 0, .07);
$global-box-shadow--small: 0 1px 2px 0 rgba(0, 0, 0, .20);
$global-box-shadow--dark-popup: 0 2px 7px 2px rgba(0, 0, 0, .22), 0 2px 4px 0 rgba(0, 0, 0, .2);
// scss-lint:enable ColorVariable

// Structural
$column-gutter: 1rem;
$column-gutter--double: $column-gutter * 2;
$column-gutter--half: $column-gutter / 2;
$column-gutter--quarter: $column-gutter / 4;
$column-gutter--three-quarters: $column-gutter * .75;
$column-sizes: (
  20: 1 / 5,
  25: 1 / 4,
  33: 1 / 3,
  50: 2 / 4,
  66: 2 / 3,
  75: 3 / 4,
  100: 1
  );

$side-nav-width: 15.625rem;
$side-nav-width--collapsed: 3.2rem;

$modal-container-sizes: (
  lg: 31.25rem,
  xl: 50rem
);

$header-height: 4rem;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;

// Typography
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;

$base-letter-spacing: .08pt;

$secondary-weight-light: 300;
$secondary-weight-medium: 600;

$heading-margin-bottom: 1rem;
$heading-sizes: (
  1: 1.875rem,
  2: 1.625rem,
  3: 1.375rem,
  4: 1.125rem,
  5: .875rem,
  6: .75rem
);

$primary-font-stack: 'Roboto', 'Lato', 'Helvetica', 'Arial', sans-serif;
$secondary-font-stack: 'Nunito', 'Helvetica', 'Arial', sans-serif;

// Colors
// ----------------------------------------------------------------------------

// Base Colors
$base-dark: #313536;
$base-dark-secondary: #202626;
$base-dark-tertiary: #474747;
$base-light: #fff;
$base-light-secondary: #b1b1b1;
$base-light-tertiary: #d3d3d3;
$base-primary: #65b360;
$base-color: #00000080;

$base-primary-hover: darken($base-primary, 10%);
$base-primary-gradient: linear-gradient(to right, $base-primary, $base-primary-hover);

// Light Theme
$theme-light-app-bg: #f0f0f0;
$theme-light-bg: $base-light;
$theme-light-bg-hover: darken($base-light, 3.5%);
$theme-light-bg-active: darken($base-light, 7%);
$theme-light-color: $base-dark;
$theme-light-color-hover: lighten($base-dark, 20%);
$theme-light-border: $base-light-secondary;

// Dark Theme
$theme-dark-bg: $base-dark-secondary;
$theme-dark-bg-hover: darken($base-dark-secondary, 3.5%);
$theme-dark-bg-active: darken($base-dark-secondary, 7%);
$theme-dark-color: $base-light;
$theme-dark-text-color: mix($base-light, $base-light-secondary);
$theme-dark-color-hover: darken($base-light, 20%);
$theme-dark-border: darken($base-dark-secondary, 7%);

// UI Colors
// Negative Colors -
// These are used to portray dangerous actions, error states, or other negative states in the interface
$ui-color-negative: #db3939;
$ui-color-negative-hover: darken($ui-color-negative, 3.5%);
$ui-color-negative-active: darken($ui-color-negative, 7%);
$ui-color-negative-dark: darken($ui-color-negative-hover, 10%);
$ui-color-negative-darker: darken($ui-color-negative-dark, 5%);
$ui-color-negative-gradient: linear-gradient(to bottom, $ui-color-negative, $ui-color-negative-hover);
$ui-background-negative: rgba($ui-color-negative, .1);

// Neutral Colors -
// These are used to portray informational actions, states, or other generally neutral states in the interface
$ui-color-neutral: #7f47cc;
$ui-color-neutral-hover: darken($ui-color-neutral, 3.5%);
$ui-color-neutral-active: darken($ui-color-neutral, 7%);
$ui-color-neutral-gradient: linear-gradient(to bottom, $ui-color-neutral, $ui-color-neutral-hover);
$ui-background-neutral: rgba($ui-color-neutral, .1);

// Positive Colors -
// These are used to portray good actions, states, or other generally positive states in the interface
$ui-color-positive: #1d8915;
$ui-color-positive-hover: darken($ui-color-positive, 3.5%);
$ui-color-positive-active: darken($ui-color-positive, 7%);
$ui-color-positive-gradient: linear-gradient(to bottom, $ui-color-positive, $ui-color-positive-hover);

// Primary Colors -
// These are used to portray primary actions, states, or other generally primary items in the interface
$ui-color-primary: #00838f;
$ui-color-primary-hover: darken($ui-color-primary, 3.5%);
$ui-color-primary-active: darken($ui-color-primary, 7%);
$ui-color-primary-gradient: linear-gradient(to bottom, $ui-color-primary, $ui-color-primary-hover);
$ui-background-primary: rgba($ui-color-primary, .2);

// Forms
// ----------------------------------------------------------------------------
$form-shadow-active:  0 0 0 3px transparentize($ui-color-primary, .75);
$form-border-active: transparentize($ui-color-primary, .25);

$form-shadow-error: 0 0 0 3px transparentize($ui-color-negative, .75);
$form-border-error: transparentize($ui-color-negative, .25);

$form-border-neutral: transparentize($ui-color-neutral, .25);
$form-shadow-neutral: 0 0 0 3px transparentize($ui-color-neutral, .75);

$form-shadow-hover: 0 0 0 3px transparentize($base-light-tertiary, .5);

//App launch
$app-launch-color-secondary: #6C757D;
