<go-layout>
  <go-header go-layout-header>
    <go-search go-header-middle>
      <app-search-test></app-search-test>
    </go-search>
    <ng-container go-header-right>
      <go-switch-toggle
        [control]="toggleControl"
        label="Header Branding"
      ></go-switch-toggle>
      <go-badge badgeData="1231" [displayData]="false">
        <go-icon-button buttonIcon="add_circle" (handleClick)="openOffCanvas()"></go-icon-button>
      </go-badge>
      <go-icon-button buttonIcon="assistant" (handleClick)="openOffCanvas()"></go-icon-button>
      <go-icon-button buttonIcon="build" (handleClick)="openOffCanvas()"></go-icon-button>
      <go-icon-button buttonIcon="picture_in_picture" (handleClick)="openModal()"></go-icon-button>
      <go-icon-button buttonIcon="input" (handleClick)="openOffCanvas()"></go-icon-button>
      <go-action-sheet [shiftLeft]="true">
        <ng-container go-action-sheet__button>
          <go-icon-button buttonIcon="input"></go-icon-button>
        </ng-container>
        <ng-container go-action-sheet-content>
          <go-panel
            showHeader="true"
            panelContent="Christoph<br><p>christoph.drechsler@tangoe.com</p>"
          >
          </go-panel>
          <go-panel panelContent="Router Link" icon="folder" routerLink="/test-page-1">
          </go-panel>
          <go-panel icon="open_in_new" panelContent="External Link" externalLink="https://www.google.com">
          </go-panel>
          <go-panel panelContent="Open Toast" icon="folder" (action)="openToast()">
          </go-panel>
          <go-accordion showIcons="true" [slim]="true" class="go-action-sheet__go-accordion">
            <go-accordion-panel [borderless]="true" title="Accordion" icon="home">
              Another test 
            </go-accordion-panel>
          </go-accordion>
          <go-panel danger="true" panelContent="Logout" icon="lock">
          </go-panel>
        </ng-container>
      </go-action-sheet>
    </ng-container>
  </go-header>
  <go-side-nav go-layout-nav [menuItems]="menuItems">
  </go-side-nav>
  <go-footer go-layout-footer>
    Footer Works
  </go-footer>
</go-layout>
  